 
.ipynb_checkpoints/Day\ 2\ text\ classification-checkpoint.ipynb 
.ipynb_checkpoints/Day\ 2-checkpoint.ipynb 
aclImdb/ 
aclImdb_v1/ 
aclImdb_v1_archive 
stack_overflow_16k.tar.gz 
stack_overflow_16k/ 
stack_overflow_16k_archive 
